*{
    margin: 0;
    padding: 0;
    text-align: center;
}
h1{
    background-color: blue;
    color: white;
    padding: 5px;
    text-align: center;
    padding-bottom: 10px;
}
.choice{
    height: 100px;
    width: 100px;

}
.choice img{
     height: 150px;
    width: 150px;
    border-radius: 50%;



}
.choices{
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 110px;
    padding: 49px;
}
.choice img:hover{
    
    opacity: 0.70;
   border: 7px solid black;
   cursor: pointer;
    
}
.scoreboard{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-top: 70px;
    font-size: 2rem;
}
#computer-score,#user-score{
    font-size: 4rem;
}
.messagecont{
    margin-top: 3rem;
   
}
.msg {
    display: inline-block;
    background-color: black;
    color: white;
    padding: 30px;
    min-width: 490px;
    
    width: 600px;
    
    margin-top: 40px;
    font-size: 2rem;
    border-radius: 13px;
   
}



    
    
     
